#main-title {
    color: white;
    text-align: center;
}

p {
    color: grey;
    font-size: 24px;
    text-align: center;
}

body {
    background-color: black;
}

* {
    box-sizing: border-box;
}

div {
    background-color: blue;
}